.navigation {
  margin: 0px auto;
}

body {
  background-color: rgb(211, 211, 211);
}
.header {
  background-color: black;
  padding: 0%;
}

.div1 {
  background-color: cornsilk;
  margin-top: 5px;
}

.seller {
  text-align: center;
  margin-bottom: 70px;
}

.lowerNav {
  padding: 0px;
}

.div2 {
  background-color: cornsilk;
  margin-top: 5rem;
  padding: 20px;
}

.div2 .image {
  width: 100%;
  height: 250px;
}
.cards {
  margin-top: 20px;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.btn {
  background-color: black;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
}
.rating-stars ul > li.star {
  display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 1.5em; /* Change the size of the stars */
  color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color: #ffcc36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #ff912c;
}
